{% extends  'base.html' %}

{% load crispy_forms_tags %}



{% block main %}
      
      <!-- Tabs Titles -->
<div class="wrapper fadeInDown">
  <div id="formContent">
  <h1>Where EAT</h1>
    <!-- Icon -->
      <div class="fadeIn first">
        <img src="https://img.freepik.com/free-vector/hamburger_53876-25481.jpg?size=338&ext=jpg" id="icon" alt="User Icon" />
      </div>
<form method="post">
{% csrf_token %}
<input type="hidden" name="next" value="{{ next }}">
  
  <div class="fadeIn second">
      <!-- Login Form -->
{{ form|crispy }}
<div>
<input type="submit" class="fadeIn third" value="Se connecter">
<br>
<input type="button" class="fadeIn third" href="{% url 'subscribe' %}" value="Inscription">
<br>
<div id="formFooter">
<a class="underlineHover fadeIn fourth" href="{% url 'passwordreset' %}" >Réinitialiser le mot de passe</a>
</div>
</div>
</div>
{% endblock %}