
{% load static %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %} ">
<script src= "{% static 'js/graph.js' %}"></script>


<!-- Background image 
    <div class="view" style="background-image: url('https://cdn.pixabay.com/photo/2017/02/15/10/57/pizza-2068272_960_720.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">-->
<center><h1>Login saisie : {{login}}</h1></center>
<center><h1>Mot de passe saisie : {{password}}</h1></center>
<center><a class="btn btn-primary" href="{% url 'carte' %}" role="button">Go to the map</a><center>
<br>
<center><a class="btn btn-primary" href="{% url 'graph' %}" role="button">Go to the graph</a><center>

<form action="" method="post">
    {% csrf_token %}
    <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="https://img.freepik.com/free-vector/hamburger_53876-25481.jpg?size=338&ext=jpg" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
        <input type="text" id="password" class="fadeIn third" name="password" placeholder="password">
        <input type="submit" class="fadeIn fourth" value="Log In">
        <a class="fadeIn fourth" href="{% url 'subscribe' %}" role="button">Inscription</a>

      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Mot de passe oublié?</a>
      </div>
  
    </div>
  </div>
  
</form>
