<!doctype  html>
<html lang="en">
<head>
<link  rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"  crossorigin="anonymous">
<title>{{ title_page }}</title>
</head>
{% include 'navbar.html' %}

<body>
  <div  class="container">


      {% if message_success %}
        <div class="alert alert-success" role="alert">
            {{ message_success }}
        </div>
      {% endif %}
      
      {% if message_fail %}
        <div class="alert alert-danger" role="alert">
            {{ message_fail }}
        </div>
      {% endif %}

      
      <h1  class="text-center">{{ title_page }}</h1>
      {% block main %}
      {% endblock %}
    
  </div>
</body>
 
