{% extends 'base_logged.html' %}
{% include 'navbar.html' %}
{% block main %}

<div class="center">
 
    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="nom_restaurant">Nom du restaurant</label>
          <input required type="text" class="form-control" name= "nom_restaurant" id="nom_restaurant" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
          <label for="adresse_restaurant">Adresse</label>
          <input required type="text" class="form-control" name="adresse_restaurant" id="adresse_restaurant">
        </div>
        <div class="form-group float-right">

        <button type="submit" class="btn btn-primary">Enregistrer l'établissement</button>
        
        </form>
      </form>

</div>

{% endblock %}
